:root {
    --global_main_color: #e56a48;
    --text-dark: #1d1d1d;
    --text-light: #fff;
    --box-shadow-light: rgba(0, 0, 0, 0.2);
    --padding-small: 10px;
    --padding-medium: 20px;
    --font-family: "Signika Negative", sans-serif;
    --font-size-large: 1.5rem;
    --font-size-medium: 1rem;
}

/* General body styling */
body {
    margin: 0;
    font-family: var(--font-family);
    display: grid;
    grid-template-rows: 60px 1fr 60px;
}

h2 {
    position: relative;
    margin: 20px 0;
}

h2::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 25%;
    border-bottom: 5px solid var(--global_main_color); 
}

#content {
    display: grid;
    grid-template-columns: 1fr min(100ch, 100%) 1fr;
    padding: 5px;
    margin-top: 42px;
}

#content > * {
    grid-column: 2;
}

/* Header */
.header-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-small) var(--padding-medium);
    background-color: #ffffff;
    color: var(--text-dark);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 2px 4px var(--box-shadow-light);
    height: 60px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: var(--text-dark);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 -2px 4px var(--box-shadow-light);
}

footer > p {
    padding: 0;
    font-size: var(--font-size-medium);
}



/* Logo styling */
.logo p {
    margin: 0;
    font-size: var(--font-size-large);
    font-weight: bold;
}

/* Nav general styling */
nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

/* Nav button styling */
nav button {
    color: #303030;
    border: none;
    font-family: var(--font-family);
    padding: var(--padding-small) var(--padding-medium);
    cursor: pointer;
    font-size: var(--font-size-medium);
    background-color: transparent;
    transition: border-bottom 0.2s;
}

nav button:hover {
    border-bottom: 3px solid var(--global_main_color);
    box-sizing: border-box;
}

/* Menu Button Hero */
#botonMenuHero {
    padding: var(--padding-small);
    width: 10em;
    border: none;
    color: var(--text-light);
    background-color: var(--global_main_color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

#botonMenuHero:hover {
    background-color: #ee7654;
    box-shadow: 0 -2px 4px var(--box-shadow-light);
}

/* Nav icon styling */
#navIcon, #navIconClose {
    width: 1rem;
    display: none;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .logo p {
        font-size: var(--font-size-medium);
    }


    .header-hero {
        flex-direction: row;
        align-items: flex-start;
        padding: var(--padding-small);
    }

    #navIcon, #navIconClose {
        width: 1.5rem;
        display: block;
    }
    
    .active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: var(--global_main_color);
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
    }


    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        display: none;
    }

    nav button {
        width: 100%;
        text-align: left;
        color: var(--text-light);
    }
}

/* HERO Section */
.home {
    text-align: center;
    position: absolute;
}

.aboutUsText {
    grid-column: 1 / 3;
    padding: var(--padding-medium);
    text-align: left;
    font-size: var(--font-size-medium);
}

.hero,
.hero2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    background-color: #f4f4f4;
    margin-top: 10px;
}

.hero2 {
    background-color: #fff;
}

.hero-item {
    padding: var(--padding-medium);
}

.bienvenida h2, p {
    font-size: var(--font-size-large);
    margin-bottom: 10px;
}
.aboutUs {
    text-align: right;
}


.bannerHero img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}